body{
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    width: 1100px;
    /* background-color: antiquewhite; */
}
.input p{
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
}
.input input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(195, 195, 195);
    padding-left: 10px;
    font-size: 17px;
}
.input__button{
    margin-top: 10px;
}
.add{
    border: none;
    background-color: #0284C7;
    padding: 7px 12px;
    color: white;
    border-radius: 5px;
}
.delete__all, .delete{
    border: none;
    background-color: #DC2626;
    padding: 7px 12px;
    color: white;
    border-radius: 5px;
}
.todo__list{
    width: 1100px;
}
.todo__list h2{
    font-weight: 400;
}
.todo__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    background-color: #F4F4F5;
    padding: 10px 70px 10px 20px;
    margin-bottom: 20px;
}
.complate{
    border: none;
    background-color: #65A30D;
    padding: 7px 12px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}
button{
    cursor: pointer;
}

.uncomplete{
    color: rgb(150, 150, 150);
    text-decoration: line-through;
}


@media (max-width: 1200px) {
    .input, .todo__list {
        width: 900px;
    }

    .todo__item {
        padding: 10px 50px 10px 15px;
    }
}

@media (max-width: 900px) {
    .input, .todo__list {
        width: 600px;
    }

    .todo__item {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .todo__item .button__todo {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .input, .todo__list {
        width: 90%;
    }

    .input input {
        font-size: 15px;
        height: 30px;
    }

    .add, .delete__all, .delete, .complate {
        padding: 5px 10px;
        font-size: 14px;
    }

    .todo__item {
        padding: 10px;
    }
}
